<%= form_with(model: reserf, local: true) do |form| %>
  <% if reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.datetime_select :data %>
  </div>

  <div class="field">
    <%= form.label :reserved %>
    <%= form.number_field :reserved %>
  </div>

  <div class="field">
    <%= form.label :livin_room_id %>
    <%= form.text_field :livin_room_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
