<h2 style="padding-left: 633px; background-color: #2b6cb0; margin-top: 0px; padding-top: -20px  "> login </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div style="background-color:  #81e6d9; margin-top: -6px; padding-bottom: 40px" >
 
      <div class="form-group" style="padding-left: 500px; padding-top: 33px; padding-right: 500px  ">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control' , autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group" style="padding-left: 500px; padding-right: 500px;   ">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control' , autofocus: true, autocomplete: "current-password" %>
      </div>


      <% if devise_mapping.rememberable? %>
        <div style="padding-left: 500px">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions" style="padding-left: 500px;padding-top: 20px">
        <%= f.submit "Entrar" %>
      </div>
    <% end %>

    <div style="padding-left: 500px; padding-top: 20px">
      <%= render "devise/shared/links" %>
    </div >

</div>