<div class="modal fade" id='sendMailModal' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
       
       <%= form_for :quarda,  url: home_teste_path, method: :get   do |form| %>
         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">  
             <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name1">
          </div>

          
          <div class="form-group">  
             <%= form.label :dest , "Recipientes:", class:"col-form-label"%>
            <%= form.text_field :namee, class:"form-control", id:"recipient-name1"%>
          </div>


      
          <div class="field">
              <%= form.text_field :id %>
          </div>
         
             
          <div class="form-group">
            <%= form.label :name2232323, class:"col-form-label" %>
            <%= form.text_field :name, class:"form-control" %>
          </div>

          <div classs="form-group" >     
     	        <%= form.submit "salvar2" %>
          </div>


       
       <%end%> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>